body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  color: #E8D1C5;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #4338ca;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}

/* Center only main heading */
.main-heading {
  text-align: center;
  margin-bottom: 20px;
}

/* Center the Profile messages */
.profile-message {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  color: #FFF2C6;
}

